html,
body {
  padding: 0;
  margin: 0;
}

.blog {
  line-height: 1, 5rem;
  word-break: break-word;
  border-color: var(--font-color);
  border-radius: 4px;
  border-style: solid;
  border-width: 0 0 0 4px;
  padding: 1.25em 1.5em;
  max-width: 70vw;
  display: flex;
  justify-content: center;
  margin: 1rem auto 4rem auto;
  flex-direction: column-reverse;
}

.blog-post:not(:first-child) {
  margin-bottom: 2rem;
}

.blog-post h1 > a {
	color:var(--font-color);
	font-size:2.5rem;
}
.markdown {
	padding: 1.5rem;
}

.markdown h1 {
  text-align: center;
  font-size:3rem;
}
.markdown > h1 {
	margin-bottom: 1rem;
}
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  text-align: left;
  margin-top: 2rem;
}

.markdown blockquote {
	background: var(--font-color);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 5px 10px 5px 35px;
	position: relative;
	overflow: hidden;
}

.markdown blockquote:before,
.markdown blockquote:after {
	content: "“";
	position: absolute;
	left: 5px;
	top: 10px;
	line-height: 50px;
	font-size: 80px;
	color: var(--bg);
	font-family: Arial, sans-serif;
}

.markdown blockquote:after {
	content: "”";
	left: initial;
	top: initial;
	line-height: 0px;
	bottom: 0px;
	right: 0px;
}

.markdown img {
	display: block;
	padding:1em;
	margin: auto;
}
blockquote p {color: var(--bg);}

a.blog-post-read-link {
    padding: 1em;
    display: inline-block;
    background: var(--font-color);
    color: var(--bg);
    margin-top: 1em;
}